.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    background-color: white;
}

.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}

.header{
    background-color: #717171;

}
.header__content{
    padding: 33px 0 32px;
}
.header__logo-text{
    font-size: 24px;
    line-height: 29px;
}
.login__content{
    margin: 25px 0 25px 0;
    background-color: #666266;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 100vh;
}
.login__form{
    /*margin: 253px 470px 253px 470px;*/
    /*margin: auto;*/
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 24px;
    background: #FFFFFF;
    /* Shadows/Medium */

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    position: absolute;
    /*width: 500px;*/
    /*height: 519px;*/
    /*left: 470px;*/
    /*top: 253px;*/
}
.form-control{
    width: 468px;
    height: 23px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    /* Black */

    color: #151317;


    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}