.App {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
/*.header,*/
/*.login{*/
/*    display: flex;*/
/*}*/
body{
    /*display: flex;*/
    /*justify-content: center;*/
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    overflow-x: hidden;
    background-color: white;
    color: #151317;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.container{
    /*width: 100%;*/
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 15px;
}
.header__content{
    padding: 33px 0 32px;
    background-color: #fbfbfb;
    box-shadow: 0 4px 20px #512689;
    border-radius: 16px;
}
.header__logo-text{
    padding-left: 90px;
    font-size: 24px;
    line-height: 29px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    letter-spacing: .15em;
    border-right: 3px solid #f99701;
    animation: cursor 1s step-end infinite, printed_text 5s steps(29);
}
@keyframes cursor {
    0% {
        border-color: #f99701;
    }

    50% {
        border-color: transparent;
    }

    100% {
        border-color: #f99701;
    }
}

@keyframes printed_text {
    from {
        width: 0;
    }
}
.login__content{
    margin: 25px 0 25px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 80vh;
    box-shadow: 0 4px 20px #512689;
    border-radius: 16px;
    position: relative;
}
.login__form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 24px;
    background: #FFFFFF;
    margin-top:25px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    position: absolute;
}
.form-control{
    width: 468px;
    height: 23px;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.login__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 468px;
    height: 23px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.login-signup__form-input-group{
    position: relative;
}
.login-signup__form-label{
    gap: 24px;
    padding-bottom: 8px;
    height: 22px;

    font-size: 16px;
    line-height: 136.19%;

    display: flex;
    align-items: center;

    flex: none;
    order: 0;
    flex-grow: 0;
}
.login-signup__form-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 8px 12px 16px;
    gap: 8px;
    font-size: 16px;
    width: 468px;
    height: 30px;

    /* Gray_light */

    background: #F8F8F8;
    border-radius: 8px;
    border: none;
    outline:none;
    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.login__form-input::placeholder{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;

    /* Gray */

    color: #808185;


    /* Inside auto layout */

    flex: none;
    order: 0;
    flex-grow: 1;
}
.login-signup__form-btn{
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;

    height: 48px;
    border: none;
    /* Violet */

    background: #512689;
    border-radius: 8px;

    /* Inside auto layout */

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    cursor: pointer;
    transition: 0.3s ease;
}
.login-signup__form-btn:disabled{
    background-color: #6d6b6b;
}
.login-signup__form-btn--text{
    font-size: 16px;
    color: #FFFFFF;

}
.login-signup__form-btn:hover{
    background-color: #ffffff;;
    color: #512689;
    border:1px solid #512689;
}
.text-danger,
.alert {
    margin-top: 8px;
    font-size: 16px;
    -webkit-animation: blink 1s linear infinite;
    animation: blink 1.2s linear infinite;
    font-weight: normal;
}

@keyframes blink {
    0% { color: #F00; }
    50% { color: #FBB; }
    100% { color: #F00; }
}
.footer__content{
    height: 60px;
    background-color: #fbfbfb;
    border-radius: 16px;
    box-shadow: 0 4px 20px #512689;
}
.footer__content-inner{
    display: flex;
    justify-content: center;
}
.footer__link{
    padding-top: 20px;
    text-decoration: none;
    font-size: 16px;
    color: black;
}
.registration__content{
    width: 100%;
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
}
.registration__content-inner{
    margin: 0 auto;
}
.registration__content-inner{
    display: flex;
    justify-content: center;
}
.registration__content-text{
    font-size: 16px;
}
.registration__link{
    font-size: 16px;
    text-decoration: none;
}
.user-info{

}
.signup__content{
    margin: 25px 0 25px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    height: 82vh;
    box-shadow: 0 4px 20px #512689;
    border-radius: 16px;
    position: relative;
}
.signup__form{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 15px;
    background: #FFFFFF;
    margin-top:32px;

    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    border-radius: 16px;
    position: absolute;
}
.signup__title{
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    margin-bottom: 0;
    width: 468px;
    height: 23px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.main__team-list{
    margin-top: 25px;
    justify-content: center;
}
.main__team-list-head{
    position: relative;
    background-color: #512689;
    width: 100%;
    height: 265px;
}
.btn-esc{
    position: absolute;
    right: 80px;
    top: 35px;
    width: 81px;
    height: 38px;
    font-size: 16px;
    line-height: 136%;
    background-color: #512689;
    color: #F8F8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: 1px solid #F8F8F8;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.btn-esc:hover{
    background-color: #ffffff;;
    color: #512689;
    border:1px solid #512689;
}
.main__head-title{
    display: flex;
    justify-content: center;
    padding-top: 64px;
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
}
.main__head-text{
    padding: 16px 297px 16px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F8F8F8;
}
.main__team-list-items{
    width: 100%;
    height: 100vh;
    margin: 48px 80px 165px;
}
.main__team-items-box{
    display: flex;
    flex-wrap: wrap;
}
.main__item-card{
    position: relative;
    cursor: pointer;
    margin:0 20px 20px 0;
    gap: 16px;
    width: 305px;
    height: 263px;
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease;
}
.main__item-card:hover{
    box-shadow: 0 0 0 5px rgba(81, 38, 137, 0.5);
}
.main__item-link{
    display: block;
    margin:36px auto;
    text-align: center;
    text-decoration:none;
    height: 85%;
}
.main__item-img{
    width: 124px;
    height: 124px;
    border-radius: 100px;
}
.main__full-name-item{
    margin-top: 10px;
    font-size: 20px;
    line-height: 23px;

    /* Black */

    color: #151317;
}
.user-info__head{
    position: relative;
    background-color: #512689;
    width: 100%;
    height: 265px;
}
.user-info__btn-back{
    position: absolute;
    left: 80px;
    top: 35px;
    width: 81px;
    height: 38px;
    font-size: 16px;
    line-height: 136%;
    background-color: #512689;
    color: #F8F8F8;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: 1px solid #F8F8F8;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease;
}
.user-info__btn-back:hover{
    background-color: #ffffff;;
    color: #512689;
    border:1px solid #512689;
}
.user-info__head-photo{
    position: absolute;
    left: 188px;
    top: 39px;
    width: 187px;
    height: 187px;
    border-radius: 100px;
}
.user-info__head-inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0;
    gap: 16px;

    position: absolute;
    width: 600px;
    height: 129px;
    left: 425px;
    top: 29px;

}
.user-info__head-title{
    font-size: 64px;
    line-height: 75px;
    color: #FFFFFF;
    text-align: center;
}
.user-info__head-role{
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
}
.user-info__about{
    position: relative;
    margin-top: 50px;
    margin-left: 188px;
}
.user-info__about-text{
    font-size: 16px;
    max-width: 630px;
    line-height: 22px;
}
.user-info__contacts{
    position: absolute;
    top: 50px;
    right: 230px;
}
.user-info__email{
    display: flex;
    justify-content: center;

}
.user-info__email-img{
    padding-top: 2px;
    width: 21px;
    height: 15px;
}
a.user-info__user-email{
    padding-left: 10px;
    text-decoration: none;
    color: #151317;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 136.19%;
}
.main__show-more{
    display: flex;
    justify-content: center;
    padding-right: 160px;
    padding-bottom: 10px;
}
.main__show-more-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 16px;
    gap: 8px;
    border: 1px solid #151317;
    border-radius: 8px;
    width: 170px;
    height: 40px;
    cursor: pointer;
    background-color: white;
}
.hide {
    display: none;
}
.main__show-more-text{
    font-size: 16px;
    line-height: 136.19%;
    color: #151317;
}
.main__like{
    position: absolute;
    bottom:20px;
    right: 20px;
}
.main__like-item{
    z-index: 1000;
    flex: none;
    order: 0;
    flex-grow: 0;
    width: 30px;
    height: 28px;
    background-color: #F8F8F8;
    border-radius: 4px;
    border: none;
    cursor: pointer;
}
.main__like-item:hover{
    background-color: #ffffff;;
    color: #512689;
    box-shadow: 0 4px 30px #512689;
}
.main__like-img{
    width: 14px;
    height: 12px;
}
.button-showPass-box{
    position: relative;
    margin-left: 443px;
    bottom: 38px;
}
.showPass{
    border:none;
    background-color: #F8F8F8;
    cursor: pointer;
}
.user-info__head{
    margin-top: 20px;
}
@media (max-width: 1440px){
    .container{
        max-width: 1000px;
        max-height: 100vh;
    }
    .login__content{
        height: 690px;
    }
    .signup__content{
        height: 750px;
    }
    .registration__content{
        padding-bottom: 15px;
    }
    .user-info__head-title{
        font-size: 54px;
    }
    .main__team-list-items{
        margin-left: 18px;
    }
    .main__head-text{
        padding:5px 200px 16px ;
    }
    .main__show-more{
        padding-right: 46px
    }
    .user-info__contacts{
        right: revert;
        top:-15px;
    }
    .user-info__about-text{
        padding: 34px 0 34px 0;
    }
}

@media (max-width: 1376px) {
    .header__logo-text {
        padding: 0;
    }

    .header__logo {
        text-align: center;
    }

    .container {
        max-width: 800px
    }

    .btn-esc {
        right: 40px;
    }

    .main__head-text {
        padding: 5px 110px 16px;
    }
    .main__team-list-items {
        margin-left: 68px;
    }
    .main__show-more{
        padding-right: 150px;
    }
    .user-info__head{
        height: 412px;
    }
    .user-info__head-photo {
        left: 300px;
        top: 174px;
    }
    .user-info__head-inner{
        left:238px;
        text-align: center;
    }
    .user-info__head-title{
        font-size: 54px;
        /*padding-left: 15px;*/
    }
    .user-info__head-role{
        padding-left: 90px;
    }
    .user-info__about {
        margin-left: 90px;
    }
}
@media (max-width: 950px){
    .container{
        max-width: 700px;
    }
    .main__head-text {
        padding: 5px 70px 16px;
    }
    .main__team-list-items {
        margin-left: 30px;
    }
    .main__show-more {
        padding-right: 68px;
    }
    .user-info__head-inner {
        left: 148px;
    }
    .user-info__head-inner{
        width: 468px;
    }
    .user-info__btn-back{
        left:40px;
    }
    .user-info__head-photo {
        left: 255px;
        top: 174px;
    }
    .user-info__head-role {
        padding-left: 126px;
    }
    .user-info__about {
        margin-left: 48px;
    }
}
@media (max-width: 768px){
    .container {
        max-width: 590px;
    }
    .header__content{
        text-align: center;
    }
    .header__logo-text{
        padding:0;
    }
    .btn-esc {
        right: 20px;
        top: 20px;
    }
    .main__head-text {
        padding: 5px 40px 16px;
    }
    .main__head-title{
        font-size: 50px;
    }
    .main__team-list-items {
        margin-left: 10px;
    }
    .main__team-items-box{
        justify-content: center;
    }
    .main__show-more {
        padding-right: 23px;
    }
    .user-info__head-inner{
        left:150px;
    }
    .user-info__head-title{
        font-size: 45px;
    }
    .user-info__btn-back{
        left: 20px;
        top: 20px;
    }
    .user-info__head-role {
        padding-left: 76px;
    }
    .user-info__head-photo {
        left: 200px;
        top: 174px;
    }
    .user-info__about {
        margin-left: 20px;
    }
}
@media (max-width: 630px){
    .container{
        justify-content: center;
        max-width: 500px;
    }
    .login__content,
    .signup__content{
        margin: 25px 0 0 0 ;
    }
    .login__form{
        max-width: 430px;
    }
    .signup__form{
        max-width: 430px;
    }
    .button-showPass-box{
        left: 334px;
    }
    .login-signup__form-input{
        width: 402px;
    }
    .button-showPass-box{
        left: 0;
        margin-left: 376px;
    }
    .main__head-text {
        padding: 5px 10px 16px;
    }
    .main__head-text{
        font-size: 16px;
        line-height: 19px;
        padding-top: 16px;
    }
    .main__head-title{
        font-size: 36px;
        line-height: 42px;
    }
    .btn-esc{
        background-image: url("./components/images/escButton.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        text-decoration: none;
        font-size: 0;
        width: 18px;
        height: 18px;
        border: none;
        border-radius: 0;
        padding: 0;
        right: 27px;
        top: 23px;
    }
    .btn-esc:hover{
        background-color: #512689;
    }
    .user-info__btn-back{
        width: 40px;
        height: 40px;
        font-size: 0;
        background-image: url("./components/images/back-btn.png");
        background-repeat: no-repeat;
        background-position: center center;
        border: none;
        left: 16px;
        top: 12px;
    }
    .user-info__btn-back:hover{
        border: none;
        background-color: #512689;
    }
    .user-info__head-inner {
        left: 0;
        height: 0;
        margin-top: 64px;
    }
    .user-info__head-title{
        font-size: 36px;
        line-height: 42px;
        padding-left: 146px;
    }
    .user-info__head-role{
        font-size: 20px;
        line-height: 23px;
        padding-left: 205px;
    }
    .user-info__head-photo {
        left: 155px;
    }
}
@media (max-width: 540px){
    .login__content,
    .signup__content{
        min-width: 460px;
    }
    .login__title,
    .signup__title{
        width: 100%;
    }
    .container{
        padding: 0;
    }
    .main__team-list-items {
        margin-left: 8px;
    }
}
@media (max-width: 475px){
    .login__content,
    .signup__content{
        min-width: 375px;
    }
    .login__form,
    .signup__form{
        max-width: 375px;
    }
    .login-signup__form-input{
        width: 350px;
    }
    .button-showPass-box{
        margin-left: 330px;
    }
    .user-info__head-inner{
        width: 340px;
    }
    .user-info__head-title {
        padding-left: 110px;
    }
    .user-info__head-role {
        padding-left: 172px;
    }
    .user-info__head-photo {
        left: 124px;
    }
}
@media (max-width: 430px){
    .login__content,
    .signup__content{
        min-width: 360px;
    }
    .login__form,
    .signup__form{
        max-width: 320px;
    }
    .login-signup__form-input{
        width: 296px;
    }
    .button-showPass-box{
        margin-left: 280px;
    }
    .user-info__head-title {
        padding-left: 90px;
    }
    .user-info__head-role {
        padding-left: 152px;
    }
    .user-info__head-photo {
        left: 100px;
    }
}
@media (max-width: 375px){
    .login__content,
    .signup__content{
       min-width: 340px;
    }
    .login__form,
    .signup__form{
        max-width: 300px;
    }
    .login-signup__form-input{
        width: 276px;
    }
    .button-showPass-box{
        margin-left: 255px
    }
    .user-info__head-title {
        padding-left: 76px;
    }
    .user-info__head-role {
        padding-left: 136px;
    }
    .user-info__head-photo {
        left: 88px;
    }
}